<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zombie_desk.zombiedesk">

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/bazinga"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".User.CreateUserActivity"/>
        <activity android:name=".InternalActionsActivity"/>
        <activity android:name=".Login.LoginActivity"/>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <activity
            android:name=".User.ListUserActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Employee.CreateEmployeeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Employee.EmployeeUpdateActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Employee.ListEmployeeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Role.ListRoleActivity"/>
        <activity android:name=".Department.ListDepartmentActivity"/>
        <activity
            android:name=".Called.ListCalledActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Called.CreateCalledActivity"/>
        <activity android:name=".Facebook.LoginFacebookActivity">
        </activity>
        <activity android:name=".Facebook.FriendsActivity">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name=".Called.CallUpdateActivity">
        </activity>
        <activity android:name=".User.UpdateUserActivity">
        </activity>
        <activity android:name=".AnimationActivity">
        </activity>
        <activity android:name=".AnimationPropertyActivity">
        </activity>
        <activity android:name=".InicioActivity">
        </activity>
    </application>

</manifest>